<!DOCTYPE html>
<html lang="en">
  <head>
    <title>AMAZON VINE TOOLS</title>
    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="./base.css" />
    <!-- SCRIPTS -->
    <script src="../../node_modules/pouchdb/dist/pouchdb.min.js"></script>
    <script src="base.js"></script>
    <script src="window.js" defer></script>
  </head>
  <body class="bg-dark">
    <!-- Navbar -->
    <nav id="header">
      <div class="navbar navbar-dark bg-dark">
        <img
          src="../../static/icon.png"
          width="30"
          height="30"
          class="d-inline-block align-top mr-2"
          alt="Amazon Vine Tools"
        />
        <a class="navbar-brand" href="#">AMAZON VINE TOOLS</a>
        <button
          id="minimize-window"
          class="btn btn-secondary mb-auto ml-auto mr-2 inline-flex"
          type="button"
          aria-label="Minimize"
        ></button>
        <button
          id="close-window"
          class="btn btn-danger mb-auto inline-flex"
          type="button"
          aria-label="Close"
        ></button>
      </div>
    </nav>
    <!-- Sidebar -->
    <div id="sidebar">
      <div class="container-fluid bg-dark">
        <!-- List of Options -->
        <ul class="nav">
          <li class="nav-item">
            <button
              id="btn-search"
              type="button"
              class="btn btn-primary"
              onclick="updateView(this)"
            >
              <div class="display-6">search</div>
            </button>
          </li>
          <li class="nav-item">
            <button
              id="btn-bookmarks"
              type="button"
              class="btn btn-primary"
              onclick="updateView(this)"
              disabled="true"
            >
              <div class="display-6">bookmarks</div>
            </button>
          </li>
          <li class="nav-item">
            <button
              id="btn-settings"
              type="button"
              class="btn btn-primary"
              onclick="updateView(this)"
              disabled="true"
            >
              <div class="display-6">settings</div>
            </button>
          </li>
        </ul>
        <div class="span-empty"></div>
        <!-- Bottom Section -->
        <div id="sidebar-bottom">
          <hr />
          <div class="text-center">created by alfa_q</div>
          <div class="text-center">version 1.0.0</div>
        </div>
      </div>
    </div>
    <!-- Main Content -->
    <div id="main" class="bg-darkish text-light rounded-left">
      <!-- Title -->
      <h5 id="main-title" class="ml-3 mt-2">TEMP</h5>

      <div id="main-body">
        <!-- Search and Item Query -->
        <div id="search" class="container-fluid flex-column m-0 p-0">
          <!-- Filter -->
          <div class="card mx-3 bg-darkish d-block">
            <div
              class="card-header unselectable"
              data-toggle="collapse"
              href="#collapseBody"
              aria-expanded="false"
              aria-controls="collapseBody"
            >
              <img src="../../static/chevron-down-26.png" class="chevron-down pull-right mb-1" />
              <img src="../../static/chevron-up-26.png" class="chevron-up pull-right mb-1" />
              <h6 class="d-inline">FILTER ITEMS</h6>
            </div>
            <div id="collapseBody" class="collapse" aria-labelledby="collapseBody">
              <div class="card-body" id="filter">
                <!-- Filter Control -->
                <form id="search-form" role="form" onSubmit="return searchForm()">
                  <div class="form-group row">
                    <!-- Search Filter -->
                    <div class="col-4">
                      <label for="search">Item Name</label>
                      <input
                        id="filter-search"
                        class="form-control"
                        type="search"
                        placeholder="Search"
                        aria-label="Search"
                      />
                    </div>
                    <!-- Category -->
                    <div class="col-2">
                      <label for="filter-category">Category</label>
                      <div class="input-group mb-3">
                        <select class="custom-select" id="filter-category">
                          <option value="default" selected>All</option>
                        </select>
                      </div>
                    </div>
                    <!-- Subcategory -->
                    <div class="col-2">
                      <label for="filter-subcategory">Subcategory</label>
                      <div class="input-group mb-3">
                        <select class="custom-select" id="filter-subcategory">
                          <option value="default" selected>All</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="form-group row">
                    <!-- Order of Items -->
                    <div class="col-4">
                      <label for="order-by">Order By</label>
                      <div class="input-group mb-3">
                        <select class="custom-select" id="order-by">
                          <option value="productName" selected>Name</option>
                          <option value="tax-value">Tax Value</option>
                          <option value="rating">Star Rating</option>
                          <option value="retail-value">Retail Value</option>
                          <option value="percent-diff">% Difference</option>
                        </select>
                      </div>
                    </div>
                    <!-- Direction of Order -->
                    <div class="col-2">
                      <label for="order-direction">Direction</label>
                      <div class="input-group mb-3">
                        <select class="custom-select" id="order-direction">
                          <option value="desc" selected>Descending</option>
                          <option value="asc">Ascending</option>
                        </select>
                      </div>
                    </div>

                    <!-- Apply Button -->
                    <div class="col-2">
                      <label for="apply-filter">&nbsp</label>
                      <button
                        id="apply-filter"
                        type="button"
                        class="btn btn-primary btn-block"
                        onclick="applyFilter()"
                      >
                        Apply Filter
                      </button>
                    </div>
                    <!-- Clear Button -->
                    <div class="col-2">
                      <label for="clear-filter">&nbsp</label>
                      <button
                        id="clear-filter"
                        type="button"
                        class="btn btn-secondary btn-block"
                        onclick="clearFilter()"
                      >
                        Clear Filter
                      </button>
                    </div>
                  </div>

                  <!-- To Be Implemented 
                      <div class="form-group row">
                        !-- Min Tax Value --
                        <div class="col-2">
                          <label for="tax-value-min">Minimum Tax Value</label>
                          <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text">$</span>
                            </div>
                            <input
                              id="tax-value-min"
                              type="text"
                              class="form-control"
                              placeholder="0.00"
                              aria-label="Amount (to the nearest dollar)"
                            />
                          </div>
                        </div>
                        !-- Max Tax Value --
                        <div class="col-2">
                          <label for="tax-value-max">Maximum Tax Value</label>
                          <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text">$</span>
                            </div>
                            <input
                              id="tax-value-max"
                              type="text"
                              class="form-control"
                              placeholder="+1000.00"
                              aria-label="Amount (to the nearest dollar)"
                            />
                          </div>
                        </div>
                        !-- Minimum Rating --
                        <div class="col-2">
                          <label for="min-rating">Minimum Rating</label>
                          <div class="input-group mb-3">
                            <select class="custom-select" id="min-rating">
                              <option selected>Any</option>
                              <option value="1">⭐</option>
                              <option value="2">⭐⭐</option>
                              <option value="3">⭐⭐⭐</option>
                              <option value="4">⭐⭐⭐⭐</option>
                              <option value="5">⭐⭐⭐⭐⭐</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      -->
                </form>
              </div>
            </div>
          </div>

          <!-- Search Information Bar -->
          <div id="search-info">
            <div class="display-6">0 Items Found</div>
            <hr />
          </div>
        </div>
        <!-- Vine Items Container -->
        <div id="items-container" class="container-fluid" onscroll="scrollHandler()">
          <ul class="list list-unstyled list-group"></ul>
          <ul class="pagination" hidden></ul>
        </div>
      </div>

      <!-- Toast Container -->
      <div class="toast-container" aria-live="polite" aria-atomic="true">
        <!-- Position it -->
        <div style="position: absolute">
          <!-- Toast Update Item Db -->
          <div
            id="toast-4"
            class="toast d-block"
            data-autohide="false"
            role="alert"
            aria-live="assertive"
            aria-atomic="true"
          >
            <div class="toast-header">
              <div class="toast-icon mr-2">
                <div class="spinner-border spinner-border-sm" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </div>
              <div class="toast-title mr-4">
                <strong>Updating Item Database</strong>
              </div>
              <div class="toast-time ml-auto">
                <small class="text-muted"></small>
              </div>
            </div>
            <div class="toast-body text-dark pt-2">
              <div class="category-info mb-1">
                <div class="badge badge-primary">Category</div>
                &gt;
                <div class="badge badge-secondary">Subcategory</div>
              </div>
              <div class="item-info">It's time for an update! Updating the Item database.</div>
            </div>
            <div class="progress" style="height: 4px">
              <div
                class="progress-bar progress-bar-striped progress-bar-animated"
                role="progressbar"
                style="width: 100%"
                aria-valuenow="0"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
          <!-- Toast Check Item Db For Update -->
          <div
            id="toast-3"
            class="toast d-block"
            data-autohide="false"
            role="alert"
            aria-live="assertive"
            aria-atomic="true"
          >
            <div class="toast-header">
              <div class="toast-icon mr-2">
                <div class="spinner-border spinner-border-sm" role="status">
                  <span class="sr-only">Retrieving Data...</span>
                </div>
              </div>
              <div class="toast-title mr-4">
                <strong>Checking For Update</strong>
              </div>
              <div class="toast-time ml-auto">
                <small class="text-muted"></small>
              </div>
            </div>
            <div class="toast-body text-dark">Checking if the Item database needs an update...</div>
          </div>
          <!-- Toast Update Category Db -->
          <div
            id="toast-2"
            class="toast d-block"
            data-autohide="false"
            role="alert"
            aria-live="assertive"
            aria-atomic="true"
          >
            <div class="toast-header">
              <div class="toast-icon mr-2">
                <div class="spinner-border spinner-border-sm" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </div>
              <div class="toast-title mr-4">
                <strong>Updating Category Database</strong>
              </div>
              <div class="toast-time ml-auto">
                <small class="text-muted"></small>
              </div>
            </div>
            <div class="toast-body text-dark">
              It's time for an update! Updating the Category database.
            </div>
            <div class="progress" style="height: 4px">
              <div
                class="progress-bar progress-bar-striped progress-bar-animated"
                role="progressbar"
                style="width: 100%"
                aria-valuenow="0"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
          <!-- Toast Check Category Db For Update -->
          <div
            id="toast-1"
            class="toast d-block"
            data-autohide="false"
            role="alert"
            aria-live="assertive"
            aria-atomic="true"
          >
            <div class="toast-header">
              <div class="toast-icon mr-2">
                <div class="spinner-border spinner-border-sm" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </div>
              <div class="toast-title mr-auto">
                <strong>Checking For Update</strong>
              </div>
              <div class="toast-time ml-auto">
                <small class="text-muted">...</small>
              </div>
            </div>
            <div class="toast-body text-dark">
              Checking if the Category database needs an update...
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
