.bg-darkish {
  background-color: darkslategray;
}

.toast {
  min-width: 400px;
  margin-top: auto;
}

.toast-container {
  min-width: 400px;
  min-height: 200px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
}

.bottom {
  margin-top: auto;
  bottom: 0px;
}

#main {
  height: 100%;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

#main-body {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 8px;
  min-width: 100%;
}

#sidebar {
  position: relative;
  top: -8px;
  min-height: calc(100vh - 57px);
  overflow-x: hidden;
  overflow-y: auto;
  display: block;
  margin-left: 0px;
  margin-right: 0px;
  width: 250px;
  color: grey;
}

#sidebar .nav-item {
  margin-top: 8px;
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
}

#sidebar .nav-item button {
  color: white;
  width: 100%;
}

nav {
  -webkit-app-region: drag;
}

button {
  -webkit-app-region: no-drag;
}

.display-5 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.display-6 {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.2;
}

#items-container {
  flex-grow: 1;
  display: flex;
  overflow-y: auto;
  overflow-x: auto;
  position: absolute;
  max-height: fit-content;
}

div[aria-expanded="true"] .chevron-down {
  display: none;
}

div[aria-expanded="false"] .chevron-up {
  display: none;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
